* {
  box-sizing: border-box;
}
.container {
  position: relative;
  margin: 50px auto;
  width: 160px;
  height: 160px;
  perspective: 500px;
}
.cube {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
}
.side {
  list-style: none;
  position: absolute;
  width: inherit;
  height: inherit;
  border: 2px solid #000;
  font: normal 30px Arial;
  text-align: center;
  line-height: 150px;
  backface-visibility: hidden;
}
.dice-img {
  width: 155px;
  height: 155px;
}
/*  */
.front {
  transform: translateZ(80px);
}
.back {
  transform: rotateY(180deg) translateZ(80px);
}
.right {
  transform: rotateY(90deg) translateZ(80px);
}
.left {
  transform: rotateY(-90deg) translateZ(80px);
}
.top {
  transform: rotateX(90deg) translateZ(80px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(80px);
}
.btn {
  width: 100px;
  height: 50px;
}
