* {
  box-sizing: border-box;
}
.container {
  position: relative;
  margin: 50px auto;
  width: 160px;
  height: 160px;
  perspective: 500px;
}
.cube {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
}
.side {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 2px solid #000;
  font: normal 30px Arial;
  text-align: center;
  line-height: 150px;
  backface-visibility: hidden;
}
/* .dice {
  list-style: none;
  padding: 20px;
  width: inherit;
  height: inherit;
  border: solid 5px #000;


  display: inline-flex;
  vertical-align: top;
  margin: 5px;
}

.dice__point::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
}

.dice-1 {
  justify-content: center;
  align-items: center;
}
.dice-2 {
  justify-content: space-between;
}
.dice-2 .dice__point:nth-child(1) {
  align-self: flex-end;
}
.dice-3 {
  justify-content: space-between;
}
.dice-3 .dice__point:nth-child(1) {
  align-self: flex-end;
}
.dice-3 .dice__point:nth-child(2) {
  align-self: center;
}
.dice-4 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.dice-4 .dice__point {
  width: 50%;
}
.dice-4 .dice__point:nth-child(even) {
  text-align: right;
}
.dice-5 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.dice-5 .dice__point:nth-child(3) {
  width: 100%;
  text-align: center;
}
.dice-6 {
  flex-flow: wrap column;
  justify-content: space-between;
  align-content: space-between;
} */

/*  */
.back {
  transform: translateZ(80px);
}
.front {
  transform: rotateY(180deg) translateZ(80px);
}
.right {
  transform: rotateY(90deg) translateZ(80px);
}
.left {
  transform: rotateY(-90deg) translateZ(80px);
}
.top {
  transform: rotateX(90deg) translateZ(80px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(80px);
}
.btn {
  width: 100px;
  height: 50px;
}
